<!--<div>-->
  <!--<bar-chart></bar-chart>-->
<!--</div>-->

<!--<div d3-bars bar-height="20" bar-padding="5"></div>-->
<!--<div>-->
  <!--<donut-chart data="[9, 20, 3]"></donut-chart>-->
<!--</div>-->

<!--<donut-chart data="[10, 20, 30]"></donut-chart>-->

<!--<div>-->
  <!--<bar-chart-box-office data="data"></bar-chart-box-office>-->
<!--</div>-->

<!--<div class="bar" ng-repeat="n in [1,2,3,4]"></div>-->


<!--<div class="Jason" market-data-graph></div>-->

<cbd-market-data></cbd-market-data>

