<!--<p>Hello Puppy!</p>-->

<!--<div>-->
  <!--<bar-chart data="barChartData"></bar-chart>-->
<!--</div>-->

<!--<div d3-bars bar-height="20" bar-padding="5"></div>-->
<!--<div>-->
  <!--<donut-chart data="[9, 20, 3]"></donut-chart>-->
<!--</div>-->

<!--<donut-chart data="[10, 20, 30]"></donut-chart>-->

<!--<div>-->
  <!--<bar-chart-box-office data="thisData"></bar-chart-box-office>-->
<!--</div>-->

<!--<div class="bar" ng-repeat="n in [1,2,3,4]"></div>-->


<!--<div class="Jason" market-data-graph></div>-->

<!--<div cbd-market-data office="officeA" data="thisData"></div>-->

<!--<div id="employment-occupation-chart" class="details-charts pie-charts fullSize" d3-chart data="employmentOccupation" type="PieChart">-->
  <!--</div>-->

<!--<p id="example"></p>-->

<!--<svg-circle size="100" stroke="black" fill="blue"></svg-circle>-->

<!--<form>-->
  <!--<label><input type="radio" name="mode" value="grouped"> Grouped</label>-->
  <!--<label><input type="radio" name="mode" value="stacked" checked> Stacked</label>-->
<!--</form>-->

<!--<div stacked-grouped-bar-chart></div>-->
<!--<div my-stacked-grouped-bar-chart></div>-->

<div 2d-multi-bar></div>
<!--<div 2d-multi-vertical-bar></div>-->
<!--<div stacked-bar-chart-full></div>-->
<!--<div stack-group></div>-->
<!--<div crimea></div>-->


<div vertical-bar></div>
<!--<div piechart></div>-->
<!--<div stacked-area></div>-->
<!--<div library></div>-->

<!--{{ exampleData }}-->
